.btn{
    text-decoration: none;
    color: white;
    background-color: rgb(80, 153, 236);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    transition: all .3s;
}

.btn:hover{
    opacity: .8;
    scale: 1;
}


.red{
    background-color: rgb(228, 100, 36);
}

.gren{
    background-color: rgb(54, 236, 41);
}