.select {
    border: 0.5px solid rgb(175, 175, 175);
    padding: 2px 5px;
    font-size: 1em;
    width: 100%;
    border-radius: 5px;
}

.select:focus{
    border: 0.5px solid rgb(189, 198, 248);
    color: rgb(60, 60, 60);
}